/* Global Styles */

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-navy: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 12%);

  --font-family: "Roboto", sans-serif;
  --font-normal: 400;
  --font-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-normal);
}

body {
  background-color: var(--black);
  height: 52.625rem;
}

.hidden {
  display: none;
}

/* ********** Mobile Styles ********** */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52.625rem;
  background-color: var(--white);
  max-width: 23.43rem;
  margin: auto;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section,
.image-section {
  display: flex;
}

#mobile-image {
  height: 17.75rem;
}

#desktop-image {
  display: none;
}

.site-info {
  /* outline: 3px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-section {
  /* outline: green solid 2px; */
  flex-direction: column;
  width: 98%;
  height: 17.25rem;
  margin-top: 2.5rem;
}

.main-section h1 {
  height: 2.5rem;
  font-weight: var(--font-bold);
  line-height: 100%;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 2.5rem;
  line-height: 100%;
}

.main-section p {
  width: 20.43rem;
  margin-top: 1.5rem;
}

/*First Bullet Point ---------------- */
#bullet-point-one {
  /* outline: black solid 2px; */
  margin-top: 1.5rem;
}

#first-bullet-point {
  /* outline: red solid 2px; */
  float: left;
  margin-right: 0.62rem;
}

/*Second Bullet Point ---------------- */
#bullet-point-two {
  /* outline: black solid 2px; */
  margin-top: 0.62rem;
}

#second-bullet-point {
  /* outline: red solid 2px; */
  float: left;
  margin-right: 0.62rem;
}

/*Third Bullet Point ---------------- */
#bullet-point-three {
  /* outline: black solid 2px; */
  margin-top: 0.62rem;
}

#third-bullet-point {
  /* outline: red solid 2px; */
  float: left;
  margin-right: 0.62rem;
}

.bottom-section {
  /* outline: 3px black solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 10.12rem;
  margin-top: 2rem;
}

.bottom-section input {
  width: 20.43rem;
  height: 3rem;
  border: 1px solid rgba(25, 24, 43, 0.25);
  border-radius: 0.5rem;
  line-height: 150%;
  opacity: 0.5;
  text-align: center;
}

.input-error-color {
  background-color: #ff6155;
}

.input-error-text {
  position: absolute;
  bottom: 440px;
  left: 900px;
  color: #ff6155;
}

/* #form {
  outline: red 2px solid;
} */

button {
  width: 20.43rem;
  height: 3rem;
  background: #242742;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

/* (Mobile) Success Message */

.content-container-success {
  /* outline: hsl(4, 100%, 67%) solid 3px; */
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 23.43rem;
  height: 50.75rem;
  background-color: var(--white);
  margin: auto;
}

.message-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 23.43rem;
  height: 45.75rem;
}

.success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 20.43rem;
  height: 50.73rem;
}

.success-message img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2.5rem;
  align-self: flex-start;
}

.success-message h1 {
  font-weight: var(--font-bold);
  line-height: 100%;
  color: var(--dark-navy);
  width: 23.5rem;
  height: 5rem;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.success-message p {
  font-size: 1rem;
  line-height: 150%;
  color: var(--dark-navy);
  height: 4.5rem;
  width: 100%;
  max-width: 23.5rem;
  margin-bottom: 10rem;
}

.success-message p span {
  font-weight: var(--font-bold);
}

.success-message button {
  position: absolute;
  top: 680px;
  width: 20.43rem;
  height: 3.5rem;
  font-weight: var(--font-normal);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

button:hover {
  background: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
  box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
  border-radius: 8px;
  border: none;
}

/* ********** Desktop Media Query ********** */
@media (min-width: 1340px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40.06rem;
    min-width: 58rem;
    background: #ffffff;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
  }

  .main-page-container {
    display: flex;
    flex-direction: row;
  }

  .image-div {
    order: 1;
  }

  #mobile-image {
    display: none;
  }

  #desktop-image {
    display: flex;
    max-width: 25rem;
    height: 37.06rem;
    background: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
    border-radius: 16px;
    margin-right: 1.5rem;
  }

  .site-info {
    align-items: flex-start;
    margin: 130px 64px 190px 64px;
    height: 30rem;
    max-width: 23.5rem;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 27.87rem;
    width: 26.5rem;
    margin-bottom: 40px;
  }

  .main-section h1 {
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    height: 3.5rem;
    line-height: 100%;
    font-family: var(--font-family);
  }

  .main-section p {
    margin-bottom: 2rem;
    margin-top: 0;
    height: 2.5rem;
    width: 23.5rem;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: var(--font-normal);
    line-height: 150%;
    color: var(--dark-navy);
  }

  .bullet-points {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 5.75rem;
  }

  #bullet-point-one,
  #bullet-point-two {
    margin-bottom: 0.62rem;
  }

  #bullet-point-one,
  #bullet-point-two,
  #bullet-point-three {
    height: 1.5rem;
    margin-top: 0;
  }

  #email {
    margin-top: 8px;
  }

  .bottom-section input {
    text-align: center;
    width: 23.5rem;
    height: 3.5rem;
  }

  input::placeholder {
    text-align: left;
    position: absolute;
    width: 181px;
    height: 24px;
    left: calc(50% - 181px / 2 - 73.5px);
    top: calc(50% - 24px / 2);

    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  button {
    background: #242742;
    color: #ffffff;
    margin-top: 1.5rem;
    width: 23.5rem;
    height: 3.5rem;
  }

  /* Success Message */

  .content-container-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 31.5rem;
    height: 32.5rem;
    background-color: var(--white);
    margin: auto;
    border-radius: 36px;
  }

  .success-message {
    /* outline: red solid 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 32.5rem;
    margin-right: 3rem;
  }

  .success-message img {
    margin-top: 3rem;
  }

  .success-message h1 {
    width: 23.5rem;
    height: 7rem;
    font-size: 56px;
    font-size: 3.5rem;
    font-size: 56px;
    line-height: 100%;
    color: #242742;
  }

  .success-message p {
    width: 23.5rem;
  }

  .success-message button {
    position: absolute;
    top: 380px;
    width: 23.5rem;
  }
}
